{% extends 'base.html.twig' %}
{% block body %}

<!-- #### Section Header #### -->
<section class="brand">
    <nav class="navbar navbar-expand-lg navbar-background">
        <a class="logo-brand" href="{{ path('home') }}"><img src="{{ asset('assets/img/pro-white.png') }}"
                alt="logo-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-item nav-link active" href="{{ path('ethic') }}"><span class="navbar-text">éthique et
                            santé</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="{{ path('social') }}"><span class="navbar-text">social et
                            solidaire</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="{{ path('ecology') }}"><span
                            class="navbar-text">écologique et impact environnemental</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="{{ path('brandLiked') }}"><span class="navbar-text">coup
                            de coeur &#9829;</span></span></a>
                </li>
            </ul>
        </div>

        <div class="ml-auto d-flex">
            <ul class="navbar-nav">
                <li class="nav-item social">
                    <a class="nav-item nav-link active" href="{{ path('blog') }}"><span
                            class="navbar-text">blog</span></a>
                </li>
                <li class="nav-item social">
                    <a class="nav-item nav-link active" href="{{ path('forum') }}"><span
                            class="navbar-text">forum</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid dimension-header">
        <div class="wrapper-content">
            <div class="row">
                <div class="mx-auto">
                    <h1>ajnalogie</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container-fluid">

        <div class="row">
            <div class="col-6">
                <div class="wrapper-content">
                    <img class="img-fluid"
                        src="https://static.wixstatic.com/media/1bea30_1c6deeeac0bd41a9aedb8a8a0c25b3c2~mv2.jpg/v1/fill/w_2730,h_3066,al_c,q_85/1bea30_1c6deeeac0bd41a9aedb8a8a0c25b3c2~mv2.jpg"
                        alt="">
                </div>
            </div>

            <div class="col-6 brand-description">
                <div class="wrapper-content">
                    <p>
                        « Ajna » désigne le chakra des sens et de l’intuition en sankrit : « ajnalogie » signifie donc
                        la science de l’intuition. Sa fondatrice, Agathe Jacquinet, accorde une importance majeure au
                        développement personnel, et croit en l’efficacité des plantes et à la beauté de la parfumerie.
                        Ainsi, les 5 parfums de la marque se posent comme des rituels bien-être, pouvant s’appliquer sur
                        la peau en spray ou grâce à une pipette compte-gouttes.
                    </p>
                    <p>
                        Ajnalogie a rassemblé la parfumeure
                        Eléonore de Staël, l'historienne du parfum Annick le Guerer, la chimiste Francine Joly et
                        l’évaluatrice Sabine le Camus pour étudier l’influence des odeurs sur les émotions et formuler
                        des parfums répondant à nos besoins émotionnels du quotidien, en s’appuyant sur les propriétés
                        aromachologiques de chaque matière première. Soucieuse du bien-être à la fois de l'humain et de
                        l’environnement, la marque crée ainsi des parfums 100% naturels en toute transparence au niveau
                        de leur composition, excluant ainsi la nécessité de colorants et de stabilisateurs chimiques.
                    </p>
                    <p>
                        Elle accorde un suivi juste et précis à la provenance et aux conditions d'agriculture des
                        matières premières qu'elle utilise, elle favorise le circuit court avec la création des parfums
                        à Paris et leur fabrication à Grasse, et tous les éléments de packaging sont recyclés et
                        recyclables. Il est également possible de recharger son parfum. Pour une expérience plus
                        complète, il vous est proposé sur le site de la marque diverses expériences olfactives :
                        ateliers découverte, ateliers méditation, prestations sur mesure, rendez-vous conseil
                        personnalisé avec la fondatrice…
                    </p>

                    <div class="d-flex justify-content-start">
                        <a target="_blank" href="https://www.ajnalogie.com/"><button type="button" class="btn">découvrir les parfums</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


{% endblock %}