{% extends 'dashboard.html.twig' %}
{% block body %}

    <section class="dashboard">
        <div class="container-fluid">
            <div class="text-center mt-5">
                <form method="post" enctype="multipart/form-data">
                    <button type="button" class="btn-add blog-button-load" data-toggle="modal" data-target="#addevent">
                        Ajouter
                    </button>
                </form>
            </div>

            <div class="mb-3" id="myDiv">
                <table id="table" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true" data-pagination-loop="false" data-cookie="true"
                data-cookie-id-table="saveId" data-show-export="true" data-mobile-responsive="true" data-show-toggle="true">
                    <thead>
                        <tr>
                            <th data-field="title" data-sortable="true">Titre</th>
                            <th data-field="category" data-sortable="true">Catégorie</th>
                            <th data-field="lead" data-sortable="true">Sous-titre</th>
                            <th data-field="author" data-sortable="true">Auteur</th>
                            <th data-field="created" data-sortable="true">Créer</th>
                            <th data-field="status" data-sortable="true">Status</th>
                            <th data-field="thumbnail" data-sortable="true">Thumbnail</th>
                            <th data-field=""></th>
                        </tr>
                        <tbody>
                            {% for article in articles %}
                            <tr>
                                <td>
                                    <span title="{{ article.title }}">{{ article.title }}</span>
                                </td>
                                <td>
                                    <span title="{{ article.label }}">{{ article.label }}</span>
                                </td>
                                <td>
                                    <span title="{{ article.lead }}">{{ article.lead }}</span>
                                </td>
                                <td>
                                    <span title="{{ article.firstname }}">{{ article.firstname }} {{ article.lastname }}</span>
                                </td>
                                <td>
                                    <span title="{{ article.created|date("m/d/Y") }}">{{ article.created|date("m/d/Y") }}</span>
                                </td>
                                <td>
                                    <span title="{{ article.status }}">{{ article.status }}</span>
                                </td>
                                <td>
                                    <a target="_blank" href="{{ asset('../articles/' ~ article.idarticle ~ '/' ~ article.thumbnail) }}"><span title="{{ article.thumbnail }}">{{ article.thumbnail }}</span></a>
                                </td>
                                <td>
                                    <a target="_blank" href="{{ path('blog_article', {'id': article.idarticle }) }}"><i class="fas fa-eye" style="padding: 5px;" aria-hidden="true"></i></a>
                                    <a href=""><i class="fas fa-edit" style="padding: 5px" aria-hidden="true"></i></a>
                                    <a href="{{ path('dashboard_delete_article', {'id': article.idarticle }) }}"><i class="fas fa-trash-alt" style="padding: 5px" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </section>

    {# #### Add Article #### #}
	<div class="modal fade" id="addevent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ajouter un article</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="post" enctype="multipart/form-data">
						<div class="container">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="exampleFormControlSelect1">Selectionner une catégorie</label>
                                    <select class="form-control" name="categories">
                                        {% for category in categories %}
                                        <option value="{{ category.idcategorie }}">{{ category.label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="exampleFormControlSelect1">Selectionner un status</label>
                                    <select class="form-control" name="status">
                                        <option value="publish">Publié</option>
                                        <option value="work">Non publié</option>
                                    </select>
                                </div>
                            </div>
							<div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="inputName">Titre</label>
                                    <input class="form-control" type="text" name="title" placeholder="Evenement Parfum Paris 2021">
                                </div>
								<div class="form-group col-md-4">
									<label for="inputTypologie">Date</label>
									<input class="form-control" id="inputDate" type="datetime-local" name="date">
								</div>
                            </div>
                            <div class="form-group">
								<label for="inputTypologie">Sous-titre</label>
								<textarea class="form-control" id="inputDescription" type="text" name="lead" placeholder="LES PARFUMS EVENT"></textarea>
							</div>
							<div class="form-group">
								<label for="inputTypologie">Description</label>
								<textarea rows="8" class="form-control" id="inputDescription" type="text" name="description" placeholder="LES PARFUMS EVENT AURA LIEU LE 12 MAI 2019 À PARIS EXPO PORTE DE VERSAILLES"></textarea>
							</div>
							<div class="form-group">
								<label for="exampleFormControlSelect1">Selectionner une image (820x500, 860 Ko max)</label>
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="upload" name="thumbnail" accept="image/*">
									<label class="custom-file-label" for="inputGroupFile01">Choisir le fichier</label>
								</div>
							</div>
						
							<div class="d-flex justify-content-center">
								<input class="btn-valide blog-button-load" style="margin: 0;" type="submit" name="submit1" value="Valider">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}