{% extends 'blog.html.twig' %}
{% block body %}

<section class="article">
    <div class="container-fluid">
        <div class="row">
            <div class="cover">
                <img src="{{ asset('../articles/' ~ article.idarticle ~ '/' ~ article.thumbnail) }}"
                alt="img_article">
            </div>
            <div class="author d-flex flex-row justify-content-center align-items-center ml-auto">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1509967419530-da38b4704bc6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="author">
                <div class="flex-column">
                    <p class="firstname">{{ article.firstname }}</p> 
                    <p class="lastname">{{ article.lastname }}</p>
                    <p>Rédactrice</p>
                    <p>{{ article.created|date("d/m/Y") }}</p>
                    <!-- <p>Dimanche 00 Décembre 0000</p> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10 p-0">
                <div class="header-content">
                    <div class="category">
                        <h5>{{ article.label }}</h5>
                    </div>
                    
                    <div class="title">
                        <h1>{{ article.title }}</h1>
                    </div>

                    <div class="lead">
                        <p>{{ article.lead }}</p>
                    </div> 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-0">
                <div class="article-content">
                    <p>{{ article.content }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="social-share d-flex flex-row justify-content-end align-item-center">
                    <div class="btn-facebook">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
                            <img src="{{ asset('assets/icons/share-facebook.png') }}" alt="share">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}